<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lab_rest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab_REST"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- MainActivity - Set LoginActivity as the launcher activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateRentalActivity"
            android:exported="false" />
        <activity
            android:name=".NewRentalActivity"
            android:exported="false" />
        <activity
            android:name=".RentalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".RentalListActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".RentalListAdminActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".CarListActivity"
            android:exported="false" />
        <activity
            android:name=".BookingStatusActivity"
            android:exported="false" />
    </application>

</manifest>
